<mat-card>
    <div class="flex justify-between">
        <div>
            <button mat-button [matMenuTriggerFor]="sortMenu">
                Sort by {{sort}}
            </button>
            <mat-menu #sortMenu>
                <button (click) = "changeSorting('Desc')" mat-menu-item>Descending</button>
                <button  (click) = "changeSorting('Asc')" mat-menu-item>Ascending</button>
            </mat-menu>
        </div>
        <div class="flex hustify-between">
            <div>
                <button  mat-button [matMenuTriggerFor]="menu">
                    Show {{itemsShowCount}} Items
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu" >
                        <button (click) = "onItemsUpdated(10)" mat-menu-item>10</button>
                        <button (click) = "onItemsUpdated(20)" mat-menu-item>20</button>
                        <button (click) = "onItemsUpdated(30)" mat-menu-item>30</button>
                </mat-menu>   
            </div>
            <div>
                <button (click) = "onCoumnsUpdated(1)">
                    <mat-icon class="pt-2">view_list</mat-icon>
                </button>
                <button  (click) = "onCoumnsUpdated(2)">
                        <mat-icon class="pt-2">view_module</mat-icon>
                </button>
                <button  (click) = "onCoumnsUpdated(4)">  
                        <mat-icon class="pt-2">view_comfy</mat-icon>
                </button>
                    
            </div>

            
        </div>
    </div>
</mat-card>